html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Sans-serif;
}

body {
    display: flex;
}

#bitDD_component_library {
    float:left;
    width: 20%;
    background:#f5f5f5;
    height: 100%;
    padding:0;
    font-size: 0;
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

#bitDD_component_library .content_container {
    border: solid 1px #f5f5f5;
    border-right: solid 1px #e0e0ff;
    margin: 0; 
    padding: 0;   
    font-size: 14px;
    flex-grow: 1;
}

#bitDD_component_library .bitDD_component_icon {
    margin: 8px;
    padding: 4px;
    border: solid 1px #999;
    font-size: 14px;
    background-color:  #fcfcfc;
}

#element_properties {
    float:right;
    width: 20%;
    background:#ddd;
    height: 100%;
}

#bitDD_workspace_tree_container {
    /*float:right;
    width: 20%;*/
    background:#f5f5f5;
    /* height: 100%; */
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

#bitDD_workspace_tree_container .content_container {    
    border-left: solid 1px #e0e0ff;
    margin: 0; 
    padding: 10px 10px 10px 0;   
    font-size: 14px;
    flex-grow: 1;
}

#bitDD_bitDD_workspace_tree ol {
    list-style: none;
}


div#bitDD_helper_element {
    width: 40px;
    height: 24px;
    background: #f0f0f0;    
    border:solid 1px #777;
}
div#bitDD_selector_element {
    border: dashed 2px #222;
    display: none;
    z-index: 999999999;
    position: absolute;
    margin-left: -2px;
    margin-top: -2px;
    pointer-events: none;
}

#bitDD_workspace {
    background-color:#f8f8f8;
    position: relative;
    float:left;
    width:60%;
    /*transform: scale(0.8);*/    
    /* height: 100%; */
    flex-grow: 1;
    overflow: auto;
}

#bitDD_workspace_scroller {
    /* background-color:#fff; */
    width: 2000px;
    height: 2000px;
    text-align: center;
}

#bitDD_workspace_main_container {
    min-height: 100px;
    width: 1920px;
    /*border: solid 1px #f0f0f0;*/
    margin: 50px auto;
    text-align: left;
    background-color: #fefefe;
    box-shadow: 0px 0px 8px #777;
}

#bitDD_workspace_main_container * {
    min-height: 16px;
}

#bitDD_workspace_margin {
    margin: 5px;
}

.droppable {
    min-height: 20px;
}

.bitDD_droparea {
    min-height: 20px;
}

.component_1 {
    padding: 10px;
    background: green;    
    clear: both;
}

.component_2 {
    padding: 10px;
    background: yellow;    
    clear: both;
   /* overflow: auto;*/
}

.component_3 {
    background: grey;
    width: 33.33%;
    float:left;
}

#workspace_first_container {
    min-height: 200px;
    width: 400px;
    background: green;
    position: absolute;
    z-index: 2;
}

#workspace_second_container {
    min-height: 200px;
    width: 400px;
    top: 450px;
    left: 50px;
    background: yellow;
    position: absolute;
}
#workspace_inner_container {
    height: 30px;
    width: 30px;
    background: orange;
    margin-top:25px;
    margin-left: 25px;    
    position: relative;
}

#bitDD_workspace_ruler {
    position: absolute;
    border: solid 1px #777;
    border-bottom: none;
    top: 20px;
    left: 40px;
    width: 1918px;
    height: 15px;
}

#bitDD_workspace_ruler .value {
    position: absolute;
    width: 100px;
    left: 50%;
    margin-left:-50px;
    top: -6px;
    background-color: #f8f8f8;
    font-size: 11px;
    text-align: center;
}

.hovering {
   /* background: red !important;*/
}

.mockup_sortable {
    width: 60px;
    height: 60px;
    float:left;
    border: solid 1px yellow;
}


/*
 * Sortable Tree styles
 */
#bitDD_workspace_tree_container {
    overflow: auto;
}
.bitDD_workspace_tree {
    font-size: 14px;     
}
.bitDD_workspace_tree, .bitDD_workspace_tree ol {
    list-style-type: none;
    padding: 0;
    margin-left: 8px;
    padding-left: 9px;
    border-left: dashed 1px #ccc;
    margin-top: -5px;
    padding-top: 5px;
}

.bitDD_workspace_tree ol li div, .bitDD_workspace_tree div {
    word-break: keep-all;
    white-space: nowrap;
    border: solid 1px #c0c0f0;
    background-color: #f8f8f8;
    margin: 4px 0;    
    padding: 4px 0 0 0;
    height: 22px;
    line-height: 18px;
    border-radius: 2px;
    position:relative;
    cursor: pointer;
}

#bitDD_workspace_tree_root > div {
    cursor:default;
    background-color: #fcfcfc;
}

.bitDD_workspace_tree ol li.selected div, .bitDD_workspace_tree.selected div {
    background-color: #cfcfcf;
}

.bitDD_workspace_tree ol li.selected > div, .bitDD_workspace_tree.selected > div {
    background-color: #b0b0b0;
    border: solid 1px #333;
}

.bitDD_workspace_tree .disclose {
    width: 14px;
    height: 20px;
    width: 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.bitDD_workspace_tree .disclose.expanded:before {
    content: "-";
}
.bitDD_workspace_tree .disclose.closed:before {
    content: "+";
}

.bitDD_dragging > div {
    border: dashed 1px red !important;
}

#treeViewPlaceholder {
    margin-bottom: 8px;
}

#bitDD_workspace_tree_container li {
    position: relative;
}

li {
    color: #000;
}
li.closest {
    /*color: red;*/
}

.bitDD_workspace_tree #placeholder {
    height: 2px;
    background-color: #f66;
}

li .treeBranch {
    height: 1px;
    width: 8px;
    position: absolute;
    border-top: dashed 1px #ccc;
    left: -9px;
    top: 50%;
}

.bitDD_workspace_tree {
    border: none;
}

.bitDD_workspace_tree li:last-child > span.treeBranchLast {
    display: block;
    position: absolute;
    border-left: solid 1px #f5f5f5;
    width: 1px;
    height: 100%;
    left: -10px;
    top: 14px;
}

.bitDD_workspace_tree span.nodename {
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color:#e5e5e5;
    z-index: 99999999;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
    background-color: #aaa;
    z-index: 99999999;
}

#right_column {
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
}


/* PROPERTIES TAB STYLES */
#bitDD_properties_container {
    /*flex-grow: 1;*/
    border-top: solid 2px #aaa;
    border-left: solid 1px #e0e0ff;
    min-height: 200px;    
    overflow: auto;
    background: #f5f5f5;
}

.bitDD_tabname {
    display: block;
    padding: 2px;
    font-size: 12px;
    border-bottom: solid 1px #afafaf;
}

#bitDD_element_properties {
    
}

#bitDD_element_properties ul { 
    margin: 0;
    padding: 0;
    list-style: none;
}
#bitDD_element_properties ul li{
    padding: 0;
    border-bottom: solid 1px #ccc;
    position: relative;
    margin-bottom: 1px;
    display: block;
    background: #f0f0f0;
}

#bitDD_element_properties ul li .bitDD_label_wrapper {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 80px;
    vertical-align: middle;
    font-size: 12px;    
}
#bitDD_element_properties ul li .bitDD_label_wrapper label {
    vertical-align: middle;
    padding: 2px;
    color: #333;
}
#bitDD_element_properties ul li .bitDD_input_wrapper {
    display: block;
    margin: 0 0 0 85px;    
    text-align: right;
}
#bitDD_element_properties ul li .bitDD_input_wrapper input {
    width: 95%;
    padding: 0px;
    margin: 0;
    border: none;
    outline: none;
    background-color: #fff;
    padding: 2px;
}


/*-------------------------------------*/
#bitDD_property_edit_window_container {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
#bitDD_property_edit_window {
    position: absolute;
    top: 0;
    left:0;
    border: solid 1px #ddd;
    background-color: #f0f0f0;
    box-shadow: 0 1px 5px #333;
    padding: 10px;
    display: none;
}